{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="card shadow-sm">
    <div class="card-body">

        <h1>Creer un compte</h1>

        <twig:RegistrationForm />

    </div>
</div>
{% endblock %}